<%= form_with(model: user_information, local: true, html: { class: "border shadow-sm rounded p-3 mb-3" }) do |form| %>
  <% if user_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_information.errors.count, "error") %> prohibited this user_information from being saved:</h2>

      <ul>
      <% user_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: "form-control" , id: "user_cpf"%>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date , class: "form-control" %>
  </div>

 <button type="submit" class="btn btn-primary" id='botao' style='margin-top: 25px'> 
			      <i class="fa fa-floppy-o"></i> Confirm
			    </button>
<% end %>

<script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
<script>

$("#user_cpf").inputmask({
            mask: ["999.999.999-99",],
	        keepStatic: true
	    });
</script>
