<p id="notice"><%= notice %></p>

<h1 style="justify-content: center; display:flex; padding-top: 30px"> Users Information</h1>
<div style="margin-left:70%">

<div style="width: 80%">
<%= form_tag(user_informations_path, method: :get, style: "display: flex; gap: 6px ") do %>
  <%= text_field_tag 'search', nil, placeholder: 'enter username', class: "form-control" %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>
</div>
</div>
<hr>
<table class="table table-bordered .table-hover " style="width: 80%; margin-left: 10%; margin-top:50px">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Cpf</th>
      <th scope="col">Email</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_informations.each do |user_information| %>
      <tr>
        <td><%= user_information.name %></td>
        <td><%= user_information.cpf %></td>
        <td><%= user_information.email %></td>
        <td><%= (user_information.date).strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div style="margin-left: 37%">
<%= paginate @user_informations, theme: 'bootstrap-5',
                   pagination_class: "pagination-sm flex-wrap"%>
</div>
<br>





