<p id="notice"><%= notice %></p>
<table class="table table-bordered .table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">CPF</th>
      <th scope="col">Email</th>
      <th scope="col"> Data</th>  
    </tr>
  </thead>
<tbody>
      <td><%= @user_information.name %></td>
      <td><%= @user_information.cpf %></td>     
      <td><%= @user_information.email%></td>     
      <td><%= @user_information.date.strftime('%d/%m/%Y') %></td>       
    </tr>    
  </tbody>
</table>

<div style="margin: 15px">
<%= link_to 'Edit', edit_user_information_path(@user_information), class: "btn btn-primary" %> 

<%= link_to 'Back', user_informations_path , class: "btn btn-primary", style: "margin: 10px"%>
</div>





